.hat {
    text-align: end;
}

.message {
    text-align: start;
}

.start {
    font-weight: bold;
}

.adress {

    font-style: italic;
    
}

.letter {
    font-family: 'Bad Script', cursive;
    text-indent: 10px;
    
}

.head {
    font-weight: bold;
    text-decoration: underline;
}

.position {
    width: 700px;
    background-color: white;
    position: relative;
    left: 300px;
    padding: 1px 10px;
}

#body {
    background-color: black
}