.hat {
    text-align: end;
}

.message {
    text-align: start;
}

.start {
    font-weight: bold;
}

.adress {

    font-style: italic;
    
}

.letter {
    font-family: 'Bad Script', cursive;
    text-indent: 10px;
    
}

.head {
    font-weight: bold;
    text-decoration: underline;
}