.navigation {
    width: 15em;
    background-color: rgb(197, 197, 197);
    float: left;
}

.article {
    background-color: rgb(180, 178, 178);
    margin-bottom: .2em;
    margin-left: 15em;
}

.footer {
    clear: both;
    background-color: rgb(133, 133, 133);
}

.block {
    background-color: rgb(216, 216, 216);
}